html,body{
    width: 100%;
    height: 100%;
}
input{
  outline: none;
}
button{
  border:none;
}
#app{
    height: 100%;
    font-family: '微软雅黑';
    #index{
        background-color: #f2f2f2;
        height: 100%;
       .swipeDiv{
            height: 9.33rem;
            width: 100%;
        }
       .mint-swipe-item{
           .a_herf{
               >img{
                   width: 100%;
                  
               }
           }
       } 
       .indexContent{
           width: 18.4rem;
           min-height: 4rem;
           margin: 0 auto;
           margin-top: 2.506rem;
           position: relative;
           .serch{
               width: 100%;
               height: 1.54rem;
               position: absolute;
               top: -1.013rem;
               z-index: 9;
               background-image: url(../image/serchbg.png);
               background-repeat: no-repeat;
               background-position: center;
               background-size: 100%;
               >.contents{
                   font-size: 0.69rem;
                   color: #fff;
                   line-height: 1.54rem;
                   padding-left: 0.53rem;
                   float: left;
                   >span{
                       color: #f94064;
                       padding-left: 0.35rem;
                   }
               }
               button{
                float: right;
                width: 2.1333rem;
                height: 0.9rem;
                line-height: 0.9rem;
                background: #fa7669;
                border-radius: 0.106rem;
                color: #fff;
                font-size: 0.53333rem;
                margin-right: 0.4533333333333333rem;
                margin-top:0.37333333333333335rem;
               }
           }
           .list{
               .listContent:first-child{
                   margin-top: 0;
               }
               .listContent:nth-of-type(2n+1){
                   /*background-image: url(../image/1.png); */
               }
               .listContent:nth-of-type(2n){
                   /*background-image: url(../image/2.png); */
               }
               .listContent{
                   width: 100%;
                   height: 5.6rem;
                   border-radius: 4px;
                   
                   background-repeat: no-repeat;
                   background-size: 100%;
                   background-position: center;
                   position: relative;
                   margin-top: 0.533rem;
                   .bottomBox{
                       height: 1.173rem;
                       width: 100%;
                       position: absolute;
                       bottom: 0;
                       >img{
                           max-height: 0.64rem;
                           max-width: 0.64rem;
                           margin-left: 0.48rem;
                           float: left;
                           margin-top: 0.21rem;
                           
                       }
                       .times{
                           font-size: 0.5866rem;
                           color: #5e5c5c;
                           float: left;
                           margin-left: 0.373rem;
                           line-height: 1.173rem;
                       }
                       .find{
                           width: 2.13rem;
                           height: 0.906rem;
                           background-color: #fa7669;
                           color: #fff;
                           font-size: 0.533rem;
                           text-align: center;
                           line-height: 0.906rem;
                           position: absolute;
                           right: 0.53rem;
                           top: 0.1rem;
                           border-radius: 2px;
                       }
                   }
               }
           }
           .findInput{
            width:3.86rem;
            height:0.9rem;
            border:1px solid #f84241; 
            position: absolute;
            top: -2rem;
            border-radius: 4px;
            font-size: 0.58rem;
            color: #f84241;
            line-height: 0.9rem;
            text-indent: 1rem;
            background-image: url(../image/find_03.png) ;
            background-repeat: no-repeat;
            background-size:0.7rem 0.7rem;
            background-position-y: center;
            background-position-x:0.1rem;
            input{
              width: 70%;
              background:none;
              border:none; 
              color: #f94064;
              font-size: 0.34375rem;
            }
            input::-webkit-input-placeholder{
              color: #f94064;
            }

           }
       }
    }
   #actityContent{
    width: 100%;
    height: 100%;
    .headerImage{
      width: 100%;
      height: 8.53rem;
      background-image: url(../image/actityheader_01.png);
      background-repeat: no-repeat;
      background-size: 100% 100%;
    }
    .actityTimer{
      width: 100%;
      height: 7.73rem;
      background-image:url(../image/timerBackground_02.png); 
      background-repeat: no-repeat;
      background-size: 100%;
      position: relative;
      overflow: hidden;
      >img{
        max-height: 1.6rem;
        position: absolute;
        top: 0rem;
        left: 0;
        bottom: 0;
        right: 0;
        margin: auto auto;
        margin-top: 0.9rem;
      }
      .timers{
        width: 14rem;
        height: 1.86rem;
        margin: 0 auto;
        margin-top: 2.8rem;
        line-height: 1.6rem;
        letter-spacing: 0.1rem;
        font-size: 1.17rem;
        color: #343434;
        >p{float: left;}
        >span{
         width: 1.86rem;
         height: 1.81rem;
         border:1px dashed #f97072;
         color: #f97072;
         font-weight: 800;
        }

      }
      .btnImage{
        width: 15.46rem;
        height: 2rem;
        margin: 0 auto;
        margin-top: 0.4rem;
        .btn{
          width: 50%;
          height: 100%;
          float: left;
          >img{
            max-height: 2rem;
          }
        }
        .rightbtn{
          float: right;
          >img{
            float: right;
          }
        }
      }

    }
      .findeInput{
        height: 4.26rem;
        width: 100%;
        .imageBox{
          height: 1.67rem;
          width:11.5rem;
          margin: 0 auto;
          margin-top: 0.8rem;
          >img{
            max-height: 1.67rem;
            max-width: 11.5rem;
          }
        }
        .inputText{
          width: 7.94rem;
          height: 1.01rem;
          margin:0 auto;
          >input{
            width: 100%;
            height: 100%;
            border:1px solid #fea5a8;
            border-radius: 4px;
            background-image:  url(../image/find_03.png) ;
            background-repeat: no-repeat;
            background-size: 0.8rem 0.8rem;
            background-position-y:0.1rem;
            background-position-x:right;  
          }
        }
      }
      .contentList{
        width: 18.4rem;
        min-height: 9rem;
        margin: 0 auto;
        .list{
          width: 100%;
          height: 8.1rem;
          background-color: #fca2a2;
          border-radius: 4px;
          margin-bottom: 0.5rem;
          .leftBox{
            width: 6.7rem;
            height: 100%;
            float: left;
            position: relative;
             >p{
                text-align: center;
                font-size: 0.69rem;
                color: #fff;
                margin-top: -0.2rem
              }
            >a{
              >img{
              width: 5rem;
              height: 5rem;
              margin-left: 0.53rem;
              margin-top: 0.53rem;
            }
            }
              .zan{
                width: 3.94rem;
                height: 1.22rem;
                border-radius: 4px;
                background-color: #fe5141;
                margin-left: 1.12rem;
                margin-top: 0.1rem;
                >img{
                  height: 1rem;
                  width: 1rem;
                  margin-top: 0.1rem;
                  margin-left: 0.53rem;
                  float: left;
                }
                >p{
                  float: left;
                  font-size: 0.69rem;
                  color: #fff;
                  line-height: 1.22rem;
                  margin-left: 0.2rem;
                }
              }
              .borderSolid{
                width: 1px;
                height: 3.57rem;
                background-color: red;
                position: absolute;
                right: 0;
                top: 1.86rem;
              }
              .IndexBq{
                width: 1.46rem;
                height: 1.46rem;
                position: absolute;
                right: -0.8rem;
                background-image: url(../image/bq_03.png) ;
                background-repeat: no-repeat;
                background-size: 100%;
                top: 0;
                font-size: 0.69rem;
                color: #fff;
                text-align: center;
                line-height: 1.4rem;
              }
          }
          .rightBox{
            width: 11.6rem;
            height: 100%;
            float: left;
            .videImage{
              width: 10rem;
              height: 4.9rem;
              background-image: url(../image/videbg_09.png) ;
              background-repeat: no-repeat;
              background-size: 100%;
              margin-left: 1rem;
              margin-top: 0.53rem;

            }
            .className{
              text-align: center;
              font-size: 0.69rem;
              color: #fff;
            }
            .tpNumber{
              width: 8.21rem;
              height: 1.17rem;
              background-color: #f5eb53;
              text-align: center;
              font-size: 0.69rem;
              margin: 0 auto;
              margin-top: 0.2rem;
              color: red;
              line-height: 1.17rem;
            }
          }
        }
      }
      .bottomBox{
        height: 8.53rem;
        width: 100%;
        background-color: #fde6e6;
        border-top: 1px solid #e9a59f;
        >h2{
          color: #fa7669;
          font-size: 0.69rem;
          text-indent:1rem;
        }
        .wz{
          width: 18rem;
          height: 88%;
          margin:0 auto;
          font-size: 0.69rem;
        }
      }
   }
   #expert{
    width: 100%;
    height: 100%;
    background:url(../image/bg.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    overflow: hidden;
    overflow-y:auto; 
    .videImage{
      width: 17.5rem;
      height: 9.97rem;
      background-image: url(../image/spbjt_03.png);
      background-size: 100%;
      margin:0 auto;
      margin-top: 1.6rem;
      position: relative;
      >img{
        max-height: 2.88rem;
        max-height: 2.88rem;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        margin: auto auto;
      }

    }
    .bttyi{
      height: 2.77rem;
      width: 17.5rem;
      margin:0 auto;
      position: relative;
      margin-top: 1.49rem;
      >img{
        width: 10.2rem;
        height: 2.77rem;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        margin: auto auto;
      }
    }
    .zjjs{
      width: 18.4rem;
      min-height: 13rem;
      margin: 0 auto;
      margin-top: 1.22rem;
      font-size: 0.77rem;
      line-height: 1.3rem;
      margin-bottom: 3rem;
      >img{
        width: 5.38rem;
        height: 5.38rem;
        margin-left: 0.2rem;
        float: left;
        padding-right: 0.4rem;
      }
      >p{
        float: left;
      }
      >h2{
        color: #fa7669;
        font-size: 0.9rem;
      }
    }
    .fhsy{
      height: 2.34rem;
      width: 100%;
      background-color: #f98f8f;
      position: absolute;
      bottom: 0;
      text-indent: 9.76rem;
      font-size: 0.69rem;
      color: #fff;
      line-height: 2.34rem;
      >img{
        width: 1.65rem;
        height: 1.54rem;
        position: absolute;
        top: 0.4rem;
        left: 7.8rem;
      }
    }
   }
   #voteOk{
    width: 100%;
    height: 100%;
    background-image: url(../image/tpcgbg.png);
    background-size: 100%;
    background-repeat: no-repeat;
    .okTittle{
      width: 17.44rem;
      height: 8.9rem;
      margin:0 auto;
      >img{
        max-width: 100%;
        margin-top: 3.2rem;
      }
    }
    .tpcgContent{
      width: 17.86rem;
      height: 13.01rem;
      margin: 0 auto;
      background-image: url(../image/tpcgcontent_03.png);
      background-repeat: no-repeat;
      background-size: 100%;
      overflow: hidden;
      >img{
        width: 5.81rem;
        height: 5.06rem;
        display: block;
       margin: 0 auto;
       margin-top:1.92rem;

       }
       .contentText{
        text-align: center;
        font-size: 1.06rem;
        color: #fa7669;
        padding-top: 0.3rem;
       }
       .tpnumber{
        width: 5.06rem;
        font-size: 1.06rem;
        color: #fa7669;
        background-image: url(../image/piaoshunumber_03.png);
        background-repeat: no-repeat;
        background-size: 1.76rem 1.76rem;
        margin: 0 auto;
        padding-left: 2rem;
        line-height: 1.76rem;
        margin-top:0.2rem; 
       }

    }
    .phbcx{
      width: 5.386rem;
      height: 5.386rem;
      border-radius: 50%;
      background-color: #fa7669;
      margin: 4.48rem auto 0 auto;
      border: 1px solid #fff;
      box-shadow: 2px 2px 2px #a9a9a9;
      font-size: 1rem;
      color: #fff;
      text-align: center;
      line-height: 5.386rem;
    }
   }
   
}
